<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PEGASUS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Guna.UI2" publicKeyToken="e4b9cdd7b4cde4b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.1" newVersion="2.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuScrollBar" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuFormDock" publicKeyToken="e8e24ccd28363fe9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PEGASUS.Properties.Settings>
      <setting name="Ports" serializeAs="String">
        <value />
      </setting>
      <setting name="Filename" serializeAs="String">
        <value />
      </setting>
      <setting name="Notification" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Paste_bin" serializeAs="String">
        <value />
      </setting>
      <setting name="IP" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value />
      </setting>
      <setting name="txtDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCompany" serializeAs="String">
        <value />
      </setting>
      <setting name="txtCopyright" serializeAs="String">
        <value />
      </setting>
      <setting name="txtTrademarks" serializeAs="String">
        <value />
      </setting>
      <setting name="txtOriginalFilename" serializeAs="String">
        <value />
      </setting>
      <setting name="txtProductVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtFileVersion" serializeAs="String">
        <value>0.0.0.0</value>
      </setting>
      <setting name="txtBlocked" serializeAs="String">
        <value>listBlocked</value>
      </setting>
      <setting name="Group" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="Mutex" serializeAs="String">
        <value>PEGASUSMutex_αβγδεζηθικλμνξοπρστ</value>
      </setting>
      <setting name="DingDing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebHook" serializeAs="String">
        <value />
      </setting>
      <setting name="Secret" serializeAs="String">
        <value />
      </setting>
      <setting name="TelAPI" serializeAs="String">
        <value />
      </setting>
      <setting name="TelID" serializeAs="String">
        <value />
      </setting>
      <setting name="pool" serializeAs="String">
        <value />
      </setting>
      <setting name="wallet" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="algo" serializeAs="String">
        <value />
      </setting>
      <setting name="threads" serializeAs="String">
        <value />
      </setting>
      <setting name="hPort" serializeAs="String">
        <value />
      </setting>
      <setting name="hIP" serializeAs="String">
        <value />
      </setting>
      <setting name="hook" serializeAs="String">
        <value />
      </setting>
      <setting name="times" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="message" serializeAs="String">
        <value />
      </setting>
      <setting name="txtfromEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="txttoEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="txtemailPass" serializeAs="String">
        <value />
      </setting>
      <setting name="txtemailUser" serializeAs="String">
        <value />
      </setting>
      <setting name="txtdownloadlink" serializeAs="String">
        <value />
      </setting>
      <setting name="emailport" serializeAs="String">
        <value />
      </setting>
      <setting name="txtBody" serializeAs="String">
        <value />
      </setting>
      <setting name="txtSubject" serializeAs="String">
        <value />
      </setting>
      <setting name="txtAttachment" serializeAs="String">
        <value />
      </setting>
      <setting name="AddyList" serializeAs="String">
        <value />
      </setting>
      <setting name="Host" serializeAs="String">
        <value />
      </setting>
      <setting name="ReverseProxyPort" serializeAs="String">
        <value>3128</value>
      </setting>
      <setting name="Key" serializeAs="String">
        <value />
      </setting>
      <setting name="autologin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NgrokProto" serializeAs="String">
        <value />
      </setting>
      <setting name="NgrokPort" serializeAs="String">
        <value />
      </setting>
      <setting name="NgrokToken" serializeAs="String">
        <value />
      </setting>
      <setting name="radioButtonEasy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="radioButtonAggressive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="gpu6_file" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu6_Proc" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu6_zipPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu6_Parametrs" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu6_workDir" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu6_sysDir" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu6_delay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gpu4_Proc" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu4_zipPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu4_Parametrs" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu4_workDir" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu4_sysDir" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu4_delay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gpu4_file" serializeAs="String">
        <value />
      </setting>
      <setting name="autoStart_gpu6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoStart_gpu4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cpuFile" serializeAs="String">
        <value />
      </setting>
      <setting name="cpu_Proc" serializeAs="String">
        <value />
      </setting>
      <setting name="cpu_zipPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="cpu_workDir" serializeAs="String">
        <value />
      </setting>
      <setting name="cpu_Parametrs" serializeAs="String">
        <value />
      </setting>
      <setting name="cpu_sysDir" serializeAs="String">
        <value />
      </setting>
      <setting name="cpu_delay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="notInstallCPUgpu6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="autoStart_cpu" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="cpu_idParameters" serializeAs="String">
        <value />
      </setting>
      <setting name="gpu_idParameters" serializeAs="String">
        <value />
      </setting>
      <setting name="other" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Russian" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="China" serializeAs="String">
        <value>True</value>
      </setting>
    </PEGASUS.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
